body {
  font-family: Arial;
  text-align: center;
  background: #f4f4f4;
}

#reader {
  width: 300px;
  margin: auto;
}

#result {
  background: white;
  padding: 15px;
  margin-top: 20px;
}

.safe {
  color: green;
  font-weight: bold;
}

.warning {
  color: orange;
  font-weight: bold;
}

.danger {
  color: red;
  font-weight: bold;
}

